.image-tooltip {
    flex: 0 1 auto;
    position: relative;
    max-height: 500px;
    display: flex;
    &__img {
        object-fit: contain;
        min-width: 250px;
        max-width: 70vw;
        max-height: inherit;
        min-height: 100px;
    }
    &:hover {
        .image-tooltip__tooltip {
            opacity: 0.8;
            cursor: grab;
        }
    }
    &__tooltip {
        background-color: whitesmoke;
        transition: opacity 0.3s ease;
        opacity: 0;
        padding: 10px;
        position: absolute;
    }
}