.grid {
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 25%;
        padding: 5px;

        @media screen and (max-width: 1000px) {
            flex-basis: 50%;
        }

        @media screen and (max-width: 600px) {
            flex-basis: 100%;
        }
    }
}