.image-view {
    display: flex;
    flex-direction: row;
    &__toolbar {
        padding: 10px;
        flex: 0 0 auto;
        border-left: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__form {
        padding: 10px;
        .image-preview {        
            img {
                object-fit: contain;
                max-width: 70vw;
                min-width: 250px;
                max-height: 500px;
                min-height: 100px;
            }
        }
    }
}